.contact {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: var(--base-300);
  color: var(--base-100);
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .container .contact-header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.home-spotlight-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home-spotlight-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home-spotlight-top-bar .container,
.home-spotlight-bottom-bar .container {
  display: flex;
  justify-content: space-between;
}

.contact-callout a span,
.home-spotlight-bottom-bar p.mono span {
  color: var(--accent-red);
}

/* Force h1 to look like h2 (8rem) for semantic SEO */
.contact-header-title h1 {
  font-size: 8rem;
  transition: color 0.3s ease;
}

.contact-header:hover .contact-header-title h1 {
  color: var(--accent-red);
}

@media (max-width: 1000px) {
  .contact .home-spotlight-bottom-bar p:nth-child(2),
  .contact .home-spotlight-bottom-bar p:nth-child(3) {
    display: none;
  }

  .contact-header-title h1 {
    font-size: 5rem;
  }
}
