---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Contact | upintown | Get in Touch"
  description="Ready to bring your digital vision to life? Let's connect and create something extraordinary"
  pageStyles={['contact']}
  pageScripts={['contact']}
>
  <section class="contact">
    <div class="home-spotlight-top-bar">
      <div class="container">
        <div class="symbols-container">
          <div class="symbol">
            <img src="/symbols/s1.png" alt="Symbol" />
          </div>
        </div>
        <div class="symbols-container">
          <div class="symbol">
            <img src="/symbols/s1.png" alt="Symbol" />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="contact-header">
        <div class="contact-callout">
          <p class="mono" data-animate-type="scramble" data-animate-delay="0.25">
            <span>&#9654;</span> Email: hello@upintown.com
          </p>
        </div>
        <div class="contact-header-title">
          <h2 data-animate-type="line-reveal" data-animate-delay="0.25">
            Let's Build Something Bold
          </h2>
        </div>
      </div>
      <div class="contact-gif">
        <img src="/contact/contact.gif" alt="" />
      </div>
    </div>
    <div class="home-spotlight-bottom-bar">
      <div class="container">
        <p class="mono" data-animate-type="scramble" data-animate-delay="0.25">
          <span>&#9654;</span> Instagram
        </p>
        <p class="mono" data-animate-type="scramble" data-animate-delay="0.25">
          <span>&#9654;</span> Twitter / X
        </p>
        <p class="mono" data-animate-type="scramble" data-animate-delay="0.25">
          <span>&#9654;</span> YouTube
        </p>
        <p class="mono" data-animate-type="scramble" data-animate-delay="0.25">
          <span>&#9654;</span> LinkedIn
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
