---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Work | upintown | Digital Portfolio"
  description="Explore upintown's creative digital projects - from web design to experimental interfaces"
  pageStyles={['work']}
  pageScripts={['work']}
>
  <div class="slider"></div>
</BaseLayout>
