---
// Footer du site
---

<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-col">
        <p class="mono"><span>&#9654;</span> Drop your email if you vibe</p>
        <div class="footer-email-container">
          <div class="footer-email-row">
            <input type="text" placeholder="your@email.com" />
            <button>
              <img src="/global/footer-right-arrow.png" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="footer-col"></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-col">
        <div class="footer-logo">
          <img src="/global/logo.png" alt="" />
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-sub-col">
          <p class="mono">Explore</p>
          <div class="footer-links">
            <p><a href="/">Start Here</a></p>
            <p><a href="/about">Who's Juno</a></p>
            <p><a href="/work">The Cool Work</a></p>
            <p><a href="/project">Single Project</a></p>
            <p><a href="/contact">Slide Into Inbox</a></p>
          </div>
        </div>
        <div class="footer-sub-col">
          <p class="mono">Stalk Me</p>
          <div class="footer-copy">
            <p>Unit 7, The Pixel Building</p>
            <p>Z Street, Amsterdam</p>
            <br />
            <p>LinkedIn</p>
            <p>Twitter</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-col">
        <p class="mono">MWT July 2025</p>
      </div>
      <div class="footer-col">
        <div class="footer-sub-col">
          <p class="mono">Made by Codegrid</p>
        </div>
        <div class="footer-sub-col">
          <p class="mono">&copy; 2025 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
