---
// Composant de transition entre les pages
---

<div class="transition">
  <div class="transition-overlay overlay"></div>
  <div class="transition-logo">
    <img src="/global/logo.png" alt="Logo" />
  </div>
</div>
<div class="mask-transition"></div>
<div class="mask-bg-overlay"></div>
